body{
  background: linear-gradient(to bottom, #EFD595,#EFB495, #EF9595,#C63D2F);/* Light blue to brown gradient */
  /* You can adjust the angle and colors as needed */
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  color: black;
}
li {
  list-style-type: none;
  margin-top: 2 rem;
}
.list_items{
  padding-block: inherit;
}
.container {
  display: flex;
  justify-content: space-between;
}
.left-div {
  /* Adjust width and styling as needed */
  width: 3%;
  padding-right: 3 rem;

}
@media screen and (max-width: 700px) {
  .left-div{
  width: 20%;
  }
}
.btn1{
 text-align: center;
}

.center-div {
  /* Adjust width and styling as needed */
  width: 40%;
  
}
.centered-image {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: auto;
  float: center;
}
.navbar-center {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-grow: 1; /* Allow the center div to grow and take up available space */
}
#dress{
  padding-top: 10rem;
}
.navbar-toggler {
  order: 2; /* Position the toggle button to the right */
}
.navbar {
 --bs-bg-opacity: 0; 
  background-color: #fff;
}
#menubar{
  background-color: #fff;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.w-100 {
  width: 15rem !important;
  
}
.carousel-inner {
  transition: transform 0.01ms ; /* Set the transition duration to 500ms */
}

.eachRide{
  padding: 1rem;
  margin: 0.5rem;
  height: auto;
  /* background-color: #98DFD6; */
}
.kalign{
  text-align: center;
}
.uponhover:hover{
  background-color: #EF9595;
}
.uponhover1:hover{
  background-color: #EADBC8;
}
.bottom-container{
  background-color: #94AF9F;
  padding: 50px 0 20px;
  margin: 0px auto;
}
.icon{
  width: 30px;
  height: 30px;
  color:#A84448;
}
hr.gradient {
  height: 2px;
  border: none;
  background: linear-gradient(to right, #ff6600, #0099cc, #33cc33);
  margin-top: 3rem;
}
.bottom-container{
  background-color: white;
  padding: 50px 0 20px;
  margin: 0px auto;
  text-align: center;
}
section.contact{
  padding-top: 3 rem;
}
.contact-me{
  text-align: center;
  color: #0a0806;
 
}
.contact-message{
  width:40%;
  margin:40px auto 60px;
}
/*.btn {
  background: #a05f4ac4;
  background-image: -webkit-linear-gradient(top, white,white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #bdb1a5 2px;
  text-decoration: none;
}

.btn:hover {
  background: #ba6161;
  background-image: -webkit-linear-gradient(top, #EF9595, #C63D2F);
  background-image: -moz-linear-gradient(top, #EF9595, #C63D2F);
  background-image: -ms-linear-gradient(top, #EF9595, #C63D2F);
  background-image: -o-linear-gradient(top, #EF9595, #C63D2F);
  background-image: linear-gradient(to bottom, #EF9595, #C63D2F);
  text-decoration: none;
}
*/
.btn{
  background-color: #EADBC8;
  color: #0a0806;
  border-radius: 8px;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid black 2px;

}
.btn:hover{
   background-color: #EF9595 ;
   border: solid #EFB495 2px;

}
.copyright{
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0px;
}

#Products{
  padding-top: 3rem;
}
section#carousel {
  padding-top: 10rem;
}

section#About{
 color:black;
 text-align: center;

}
section#About {
  margin-top: 3rem;
}



#navbarToggleExternalContent {
  position: fixed;
  top: 0;
  left: -100%; /* Initially off-screen to the left */
  width: 80%; /* Adjust as needed */
  height: 100%;
  background-color: white; /* Background color for the menu */
  transition: left 0.3s ease-in-out; /* Add a transition for smooth animation */
  z-index: 1000; /* Ensure the menu appears above other content */
}

#navbarToggleExternalContent.show {
  left: 0; /* Slide in from the left when open */
}
